section.canhcam-boxes-12
	.info 
		.container
			.row
				.col-md-6.ml-6
					h2.h2.text-center.text-md-left.mb-5 about us
					h3.h3.text-center.text-md-left.mb-5 Lorem sasa sa   as asa ver 30 year lorem sascajsvasak sva vsa
					h4.h4.text-center.text-md-left.mb-5 Lorem sasa sa   as asa ver 30 year lorem sascajsvasak sva vsaLorem sasa sa   as asa ver 30 year lorem sascajsvasak sva vsaLorem sasa sa   as asa ver 30 year lorem sascajsvasak sva vsa
					p.lead.mb-5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit optio cumque incidunt eius laborum quos excepturi. Possimus corporis fugit a vitae sed, blanditiis, dolorum voluptates, voluptatibus magnam eos adipisci earum!
						span.mb-5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, enim? Vero quas nemo quo distinctio maiores excepturi esse, odit officia doloremque, velit delectus minus necessitatibus animi fugiat corporis obcaecati nostrum!
					p.mb-0 
						a(href="#") Xem thêm 
							i.mdi.mdi-arrow-right
				.col-md-6.face
					.img
						img(src="..//img/box-12/wood.jpg", alt="alt").img-fluid.mt-5
				.col-md-6.behide
					.img
						img(src="..//img/box-12/wood.jpg", alt="alt").img-fluid.mt-5

		

