section.canhcam-slider-2
	.slidetab
		.container
			.content
				.row
					.col-md-3.info
						
						.show.d-flex
							i.fas.fa-angle-right
						h5.mr-auto Đoạn Lorem Ipsum chuẩn, được sử dụng từ những năm 1500
						.hide
							.figure
								img(src="source", alt="alt").img-fluid
								figcaption
									p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
					.col-md-3.info
						
						.show.d-flex
							i.fas.fa-angle-right
						h5.mr-auto Đoạn Lorem Ipsum chuẩn, được sử dụng từ những năm 1500
						.hide
							.figure
								img(src="source", alt="alt").img-fluid
								figcaption
									p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
					.col-md-3.info
						
						.show.d-flex
							i.fas.fa-angle-right
						h5.mr-auto Đoạn Lorem Ipsum chuẩn, được sử dụng từ những năm 1500
						.hide
							.figure
								img(src="source", alt="alt").img-fluid
								figcaption
									p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
					.col-md-3.info
						
						.show.d-flex
							i.fas.fa-angle-right
						h5.mr-auto Đoạn Lorem Ipsum chuẩn, được sử dụng từ những năm 1500
						.hide
							.figure
								img(src="source", alt="alt").img-fluid
								figcaption
									p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.